@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Josefin Sans', sans-serif;
}


.featureHero {
  background-image: url('/featureHero.png');
  background-repeat: no-repeat;
  background-position: center;
}